/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #4c4c6d;
		--accent: #5e3a6a;
		--secondary: #5c469c;
		--lightOrange: #ffd2b4;
		--darkOrange: #f89f64b1;
		--lightGray: #343a40;
		--gray: #39394282;
	}

	body {
		background-image: url('/bg.svg');
	}

	@font-face {
		font-family: 'Geist';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/Geist-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Geist';
		font-style: normal;
		font-weight: 600;
		src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
	}
	.shadow22 {
		box-shadow: 12px 12px 10px -13px rgba(0, 0, 0, 0.4);
	}

	.prose > pre {
		border-radius: 0.5rem;
		padding: 1rem;
	}

	.gradient {
		background: radial-gradient(
			140.12% 140.12% at 50.42% -35.12%,
			rgba(14, 15, 17, 0) 10%,
			#0e0f11 80.88%
		);
	}

	.slide[data-active] {
		opacity: 1;
		z-index: 1;
		/* transition-delay: 400ms; */
		@apply translate-x-0 transition-all  ease-in-out duration-700;
	}

	.slide {
		position: absolute;
		inset: 0;
		opacity: 0;
		/* transition: 400ms opacity ease-in-out;
		transition-delay: 400ms; */
		@apply translate-x-full transition-all  ease-in-out duration-700;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-bottom {
	from {
		transform: translateY(50px);
	}
}

@keyframes slide-to-top {
	to {
		transform: translateY(-50px);
	}
}

::view-transition-old(root) {
	animation:
		90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

::view-transition-new(root) {
	animation:
		210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}

@keyframes slide-from-cc {
	from {
		transform: translateY(250px);
	}
}

.marquee {
	--gap: 36px;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	-webkit-mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 0%,
		rgb(0, 0, 0) 10%,
		rgb(0, 0, 0) 90%,
		rgba(0, 0, 0, 0) 100%
	);
}

.marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
	animation: scroll 25s linear infinite;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}
