@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d0f11;
  --secondary: #252529;
  --lightOrange: #ffd2b4;
  --darkOrange: #f89f64b1;
  --lightGray: #2525297c;
  --gray: #39394282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.codeStyle > code {
  background: none !important;
}

.markdown > p > strong {
  color: #ffd2b4;
  @apply bg-[#252529];
  @apply rounded-lg;
  @apply bg-opacity-70;
  @apply px-2 py-1;
}

.markdown img {
  @apply rounded-lg;
}
