---
import { getCollection, type CollectionEntry } from 'astro:content'
import { getPosts } from '../../../utils/post'
import Layout from '../../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import BlogLayout from '../../../layouts/BlogLayout.astro'

const posts = await getCollection('blog')

export async function getStaticPaths() {
	const posts = await getPosts()

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await post.render()
---

<BlogLayout data={post.data}>
	<article>
		<div class='prose prose-invert mb-12 min-w-full'>
			<Content />
		</div>
	</article>
</BlogLayout>
