---
import Layout from '../../layouts/Layout.astro'
import Form from '../../components/Form.astro'
import BackLink from '../../components/BackLink.astro'
---

<Layout title='contact'>
	<div class='flex items-end justify-end'>
		<BackLink href='/' />
	</div>
	<Form />
</Layout>
