---
import Section from '../Section.astro'
import Link from '../Link.astro'
import ExternalLink from '../ExternalLink.astro'
---

<Section>
	<p class='leading-7 sm:px-4 sm:text-center'>
		Apasionado por el desarrollo y ansioso por crecer en este fascinante campo. Encuéntrame en
		<ExternalLink
			href='https://www.linkedin.com/in/danielcarmonagilibert/'
			class='inline-flex underline decoration-dotted underline-offset-2 border-0'
		>
			LinkedIn
		</ExternalLink> para una respuesta rápida.
	</p>

	
</Section>
