---
import ExternalLink from '../components/ExternalLink.astro'
import Shape from '../components/Shape.astro'
import Layout from '../layouts/Layout.astro'
import {
	ArrowUpRight,
	BookCopy,
	BookMarked,
	FolderDot,
	GitCommit,
	Github,
	PenIcon,
	Star
} from 'lucide-preact'
---

<Layout title='Welcome to Astro.'>
	<div>
		<h1 class='font-bold text-4xl md:text-5xl leading-tight text-black'>Daniel Carmona</h1>
		<h2 class='flex items-center gap-2 text-2xl text-accent italic'>
			<Shape />
			 Frontend Developer
		</h2>
	</div>

	<div class='flex flex-col gap-7 md:pr-32'>
		<div class='flex flex-col gap-2'>
			<p class='text-lightGray leading-7'>
				Siempre interesado en seguir desarrollando en este apasionante mundo del desarrollo. Si
				quieres contactarme, háblame por <ExternalLink href='google.com'>
					<span class='font-medium'>LinkedIn</span>
				</ExternalLink>
				 y te responderé con la mayor brevedad posible.
			</p>
		</div>

		<ExternalLink
			href='google.com'
			class='no-underline flex justify-around px-8 py-1 text-base md:gap-32 md:w-full md:mx-auto md:py-4 border-[1.8px] border-gray-200 rounded-2xl hover:bg-[#f6f5f45b]'
		>
			<span class='flex flex-col md:flex-row gap-1 items-center'>
				<GitCommit size={24} strokeWidth={1.5} />
				 1.075 Commits
			</span>

			<span class='flex flex-col md:flex-row gap-1 items-center'>
				<BookCopy size={24} strokeWidth={1.5} />
				 45 Repositories
			</span>
		</ExternalLink>

		<div class='flex flex-col gap-2 leading-7'>
			<p class='text-lightGray'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed cupiditate consequatur
				natus perspiciatis sunt praesentium optio modi necessitatibus minima quam accusamus
				doloremque reiciendis, tempora nisi aliquam laboriosam illo alias!
			</p>
		</div>
	</div>

	<hr />

	<div class='flex flex-col gap-6'>
		<div class='flex flex-col gap-2.5'>
			<h3 class='font-semibold text-2xl text-black'>My recent projects</h3>
			<span class='text-base'
				>I am currently developing <ExternalLink>OpenBlog</ExternalLink> and my own <ExternalLink>
					website.
				</ExternalLink></span
			>
		</div>
		<article
			class='flex flex-col gap-3.5 p-4 py-5 border-[1.8px] border-gray-200 rounded-2xl hover:bg-[#f6f5f45b]'
		>
			<h4 class='text-xl font-semibold text-black flex items-center gap-1'>
				<BookMarked class='text-gray-700' strokeWidth={2} size={18} /> Project <span
					class='text-base'>|</span
				>OpenBlog
			</h4>

			<p class='text-lightGray'>
				Openblog is an elegant, simple, and user-friendly blog. Focused on accessibility, SEO <br />
				 and performance.
			</p>

			<a href='' class='text-accent font-medium underline flex items-center gap-1'>
				View project <ArrowUpRight size={15} /></a
			>
		</article>

		<article
			class='flex flex-col gap-3.5 p-4 py-5 border-[1.8px] border-gray-200 rounded-2xl hover:bg-[#f6f5f45b]'
		>
			<h4 class='text-xl font-semibold text-black flex items-center gap-1'>
				<BookMarked class='text-gray-700' strokeWidth={2} size={18} /> Project <span
					class='text-base'>|</span
				>OpenLink
			</h4>

			<p class='text-lightGray'>Minimalist App for your links.</p>

			<a href='' class='text-accent font-medium underline flex items-center gap-1'>
				View project <ArrowUpRight size={15} /></a
			>
		</article>

		<a
			href=''
			class='w-fit mx-auto text-center text-accent font-medium px-8 py-1 border-[1.8px] border-gray-200 rounded-2xl'
		>
			View more</a
		>
	</div>
</Layout>
