---
import { ArrowUpRight } from 'lucide-preact'
import FormattedDate from './FormattedDate.astro'
import Section from './Section.astro'
import { getPosts } from '../utils/post'
import Link from './Link.astro'

const posts = await getPosts()
---

<Section>
	<div class='flex justify-between items-center'>
		<span class='font-semibold first-letter:uppercase'> últimos post</span>
		<Link href='/blog' class='text-sm group hover:gap-2 transition-all ease-in-out duration-300'>
			Blog
			<ArrowUpRight
				size={14}
				class='transition-all ease-in-out duration-300 group-hover:rotate-45'
			/>
		</Link>
	</div>

	<ul class='flex flex-col gap-3.5'>
		{
			posts.map((post) => (
				<Link href={`/blog/${post.slug}`} class='flex justify-between '>
					<span class='underline text-[#BEBEBE]'>{post.data.title}</span>
					<span class=' text-[#BEBEBE] hidden sm:block '>
						<FormattedDate date={post.data.pubDate} />
					</span>
				</Link>
			))
		}
	</ul>
</Section>
