---
import link from '../../public/link.png'
import website from '../../public/website.png'
import photo2 from '../../public/photo2.png'
import openblog22 from '../../public/openblog22.png'
import devbird4 from '../../public/devbird4.png'
import jira from '../../public/jira.png'
import prueba from '../../public/prueba.png'

import { Image } from 'astro:assets'

const images = [link, website, photo2, openblog22, devbird4, jira, prueba]
---

<div class='embla min-h-full min-w-full'>
	<div class='embla__container h-96'>
		{
			images.map((image) => (
				<div class='embla__slide'>
					<Image
						width={500}
						height={500}
						src={image}
						class='rounded-lg w-full min-h-full object-cover'
						alt='Nature  #1'
					/>
				</div>
			))
		}
	</div>
</div>

<style>
	.embla {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
	}
	.embla__slide {
		flex: 0 0 100%;
		min-width: 0;
	}
</style>

<script>
	import EmblaCarousel from 'embla-carousel'
	import Autoplay from 'embla-carousel-autoplay'

	document.addEventListener(
		'astro:page-load',
		() => {
			const emblaNode = document.querySelector('.embla')
			if (!emblaNode) return
			const options = { loop: true }
			const emblaApi = EmblaCarousel(emblaNode, options, [Autoplay()])
		},
		{}
	)
</script>
