---
import { cn } from '../utils/cn'

type Props = {
	href: string
	class?: string
}

const { href, class: className = '' } = Astro.props
---

<a
	class={cn('font-medium text-accent underline', className)}
	rel='noopener noreferrer '
	href={href}
>
	<slot />
</a>
