---
import { cn } from '../utils/cn'
const { href, class: className = '' } = Astro.props
---

<a
	class={cn('font-medium text-accent underline', className)}
	rel='noopener noreferrer '
	href={href}
>
	<slot />
</a>
