---
const date = new Date()
---

<footer class='flex w-full flex-col justify-between gap-2 border-t-[1.8px] border-gray-200 p-6'>
	<div class='flex items-center justify-end gap-2'>
		<div>© {date.getFullYear()} Daniel</div>
		<img
			class='h-4 w-4 rounded-full'
			src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Spain_%28Civil%29.svg/2560px-Flag_of_Spain_%28Civil%29.svg.png'
		/>
	</div>
</footer>
