---
import { GithubIcon, LinkedinIcon, TwitterIcon } from 'lucide-preact'

import Link from './Link.astro'
import ExternalLink from './ExternalLink.astro'
import { routes } from '../config/routes'
---

<header
	class='fixed z-50 bottom-0 min-w-full py-3 flex justify-center border-t-2 border-gray-200 md:border-none md:justify-start bg-white md:static md:flex md:flex-col gap-5 md:pl-2 md:pr-8 text-base mx-auto text-black'
	transition:animate='none'
>
	<div class='flex flex-col gap-7'>
		<img
			src='/profile.jpeg'
			class='hidden md:block w-[110px] h-[110px] rounded-full object-cover shadow border-[2px] border-gray-200'
		/>
		<nav>
			<div class='flex justify-between md:flex-col gap-2 w-full md:gap-1.5 min-w-full'>
				{routes.map((route) => <Link route={route} />)}
			</div>
		</nav>
	</div>

	<hr class='hidden md:flex' />

	<div class='hidden md:flex flex-wrap justify-between items-center'>
		<ExternalLink href='google.com'>
			<span
				class='flex justify-center items-center gap-3 text-accent bg-accent rounded-full p-[5px] text-white'
			>
				<GithubIcon size={19} strokeWidth={2} />
			</span>
		</ExternalLink>

		<span
			class='flex justify-center items-center gap-3 text-accent bg-accent rounded-full p-[5px] text-white'
		>
			<LinkedinIcon size={19} strokeWidth={2} />
		</span>

		<span
			class='flex justify-center items-center gap-3 text-accent bg-accent rounded-full p-[5px] text-white'
		>
			<TwitterIcon size={19} strokeWidth={2} />
		</span>
	</div>
</header>
