<div class='marquee'>
	<ul class='marquee__content'>
		<li aria-hidden='true'>
			<img src='React.svg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<li aria-hidden='true'>
			<img src='Next.js Cover.jpg' class='w-16 h-16 rounded-lg object-cover' />
		</li>

		<li aria-hidden='true'>
			<img src='Docker Icon.svg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<li aria-hidden='true'>
			<img src='js.jpg' class='w-16 h-16 rounded-lg object-cover' />
		</li>

		<li aria-hidden='true'>
			<img src='tailwindcss.png' class='w-16 h-16 rounded-lg object-cover' />
		</li>
	</ul>

	<ul class='marquee__content' aria-hidden='true'>
		<li aria-hidden='true'>
			<img src='React.svg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<li aria-hidden='true'>
			<img src='Next.js Cover.jpg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<li aria-hidden='true'>
			<img src='Docker Icon.svg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<li aria-hidden='true'>
			<img src='js.jpg' class='w-16 h-16 rounded-lg object-cover' />
		</li>
		<img src='tailwindcss.png' class='w-16 h-16 rounded-lg object-cover' />
	</ul>
</div>
