---
interface Props {
	name: string
	image: string
	desciption: string
	github_url: string
	web_url: string
}

const { name, image, desciption, github_url, web_url } = Astro.props
---

<div class='h-full'>
	<img
		class='h-full border-[1.8px] border-gray-200 min-w-full object-cover object-center rounded-xl'
		src={image}
	/>
</div>
