---
import { Github } from 'lucide-preact'
import ExternalLink from './ExternalLink.astro'
import Section from './Section.astro'
import { networks } from '../config/social'
---

<Section class='bg-transparent border-none p-0 flex flex-row justify-between sm:p-0'>
	{
		networks.map((network) => (
			<ExternalLink
				href={network.url}
				class='w-20 sm:w-24 h-20 sm:h-24 opacity-80 ease-in transition-all hover:opacity-100'
			>
				<Fragment set:html={network.icon} />
			</ExternalLink>
		))
	}
</Section>
