---
import ExternalLink from '../../components/ExternalLink.astro'
import Project from '../../components/Project.astro'
import { projects } from '../../data/projects.json'
import Layout from '../../layouts/Layout.astro'
---

<Layout title='projects'>
	<div class='flex flex-col gap-8'>
		<h1 class='font-bold text-4xl md:text-5xl leading-tight text-black'>Proyectos</h1>

		<div class='grid grid-cols-1 md:grid-cols-3 gap-2 gap-y-2'>
			{
				projects.map((project, i) => (
					<ExternalLink
						href={project.github_url}
						class={`   ${i === 3 && 'md:col-span-2'} ${i === 4 && 'md:row-span-2'} `}
					>
						<Project {...project} />
					</ExternalLink>
				))
			}
		</div>

		<a
			href=''
			class='w-fit mx-auto text-center text-accent font-medium text-lg px-8 py-1 border-[1.8px] border-gray-200 rounded-2xl'
		>
			View all projects</a
		>
	</div>
</Layout>
