---
import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import Layout from './Layout.astro'

type Props = {
	data: CollectionEntry<'blog'>['data']
}

const { data } = Astro.props
const { title, description, pubDate, heroImage, tags } = data
---

<Layout title={title}>
	<article class='min-w-full sm:max-w-none md:max-w-none'>
		<header class='flex flex-col gap-10'>
			<h1 class='font-bold text-3xl text-center md:text-5xl text-accent'>{title}</h1>
			<div>
				{
					heroImage && (
						<Image
							src={heroImage}
							width={1000}
							height={500}
							quality={100}
							format='jpg'
							loading='eager'
							class='rounded-xl min-w-full max-h-[250px]  md:max-h-[300px] mb-8 object-cover heroImage'
							alt={`img of ${title}`}
						/>
					)
				}
			</div>
		</header>

		<div class='md:px-8'>
			<slot />
		</div>
	</article>
</Layout>

<script>
	import { animate } from 'motion'

	animate(
		'.heroImage',
		{
			opacity: [0, 1],
			clipPath: ['polygon(0 0, 0 0, 0 100%, 0% 100%)', 'polygon(100% 0, 0 0, 0 100%, 100% 100%)']
		},
		{ duration: 1, easing: 'ease-in-out' }
	)
</script>
