---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<BaseHead title={title} />
	<body class='antialiased bg-[#0E0F11] text-white h-screen'>
		<main class='max-w-2xl mx-auto py-8 pt-24 flex flex-col gap-4'>
			<slot />
			<Footer />
		</main>

		<div class='fixed -z-10 inset-0 gradient'></div>
		<script>
			import { animate, spring } from 'motion'

			document.querySelectorAll('main > *').forEach((el, i) => {
				animate(
					el,
					{
						y: [i + 1 * 20, 0],
						opacity: [0, 1]
					},
					{ delay: i * 0.3, easing: spring() }
				)
			})

			document.querySelectorAll('img').forEach((el, i) => {
				animate(
					el,
					{
						filter: ['grayscale(100%)', 'grayscale(0%)']
					},

					{ delay: 1.5, easing: 'ease-in' }
				)
			})

			animate(
				'.gradient',
				{
					opacity: [0.5, 1]
				},
				{ delay: 1.5, easing: 'ease-in' }
			)
		</script>
	</body>
</html>
