---
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<BaseHead title={title} />
	<body class='relative antialiased'>
		<main
			class='md:mx-auto md:grid md:grid-rows-1 max-w-xl md:grid-cols-[150px_auto] md:gap-6 md:max-w-6xl md:mt-8 min-h-full'
		>
			<Header />

			<div class='flex flex-col gap-6 md:mt-8 px-6 py-6 pb-28 md:p-0'>
				<slot />
				<Footer />
			</div>
		</main>
	</body>
</html>
