---
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<BaseHead title={title} />
	<body class='antialiased md:pt-6 md:pb-8 bg-gray-50'>
		<main
			class='relative md:m-auto md:grid md:grid-rows-1 max-w-xl md:grid-cols-[150px_auto] md:gap-4 md:max-w-5xl w-full shadow-xl p-0 md:p-8 md:py-3 min-h-screen bg-white rounded-3xl overflow-y-auto border-[1.8px] border-gray-200 m-auto'
		>
			<Header />

			<div class='flex flex-col gap-6 px-4 pt-4 pb-20 md:p-0 md:mt-7'>
				<slot />
				<Footer />
			</div>
		</main>
	</body>
</html>
